[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
scikit-learn = "*"


[dev-packages]
scikit-learn = "*"


[requires]
python_version = "3.6"
