[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
scikit-learn = "*"
plotly = "*"

[dev-packages]
scikit-learn = "*"
plotly = "*"

[requires]
python_version = "3.6"
